/* http://phpbego.wordpress.com */
.container {
	width: 970px;
	margin: auto;
	text-align: center;
}
.tengah {
	text-align: center;
}
table {
	/* border: 1px solid #000; */
	border-collapse: collapse;
	width:100%;
}
table td {
	/* border: 1px solid #000; */
	padding: 10px;
}
table th {
	/* border: 1px solid #000; */
	background-color: #fff;
	color: #000;
	padding: 10px
}


div{
	width: 970px;
	height: 870px;
	text-align: center;
   }
   .satu { border: 1px solid #000; }
   .dua { border: 10px dotted green; }
   .tiga { border: 10px dashed green; }
   .empat { border: 10px double green; }
   .lima { border: 10px groove green; }
   .enam { border: 10px ridge green; }
   .tujuh { border: 10px inset green; }
   .delapan { border: 10px outset green; }
